@font-face {
  font-family: Plumb;
  src: url("../fonts/Plumb-Bold/Plumb-Bold.eot");
  src: url("../fonts/Plumb-Bold/Plumb-Bold?#iefix") format("embedded-opentype"), url("../fonts/Plumb-Bold/Plumb-Bold.svg#Plumb-Bold") format("svg"), url("../fonts/Plumb-Bold/Plumb-Bold.ttf") format("truetype"), url("../fonts/Plumb-Bold/Plumb-Bold.woff") format("woff"), url("../fonts/Plumb-Bold/Plumb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Plumb;
  src: url("../fonts/plumb-black/Plumb-Black.svg");
  src: url("../fonts/plumb-black/Plumb-Black?#iefix") format("embedded-opentype"), url("../fonts/plumb-black/Plumb-Black.svg#Plumb-Black") format("svg"), url("../fonts/plumb-black/Plumb-Black.ttf") format("truetype"), url("../fonts/plumb-black/Plumb-Black.woff") format("woff"), url("../fonts/plumb-black/Plumb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Plumb;
  src: url("../fonts/plumbcondensed-regular/plumbcondensed-regular.eot");
  src: url("../fonts/plumbcondensed-regular/plumbcondensed-regular?#iefix") format("embedded-opentype"), url("../fonts/plumbcondensed-regular/plumbcondensed-regular.svg#plumbcondensed-regular") format("svg"), url("../fonts/plumbcondensed-regular/plumbcondensed-regular.ttf") format("truetype"), url("../fonts/plumbcondensed-regular/plumbcondensed-regular.woff") format("woff"), url("../fonts/plumbcondensed-regular/plumbcondensed-regular.woff2") format("woff2");
  font-weight: 400;
  font-stretch: condensed;
  font-style: normal;
}

@font-face {
  font-family: Plumb;
  src: url("../fonts/PlumbCondensed-Bold/PlumbCondensed-Bold.eot");
  src: url("../fonts/PlumbCondensed-Bold/PlumbCondensed-Bold?#iefix") format("embedded-opentype"), url("../fonts/PlumbCondensed-Bold/PlumbCondensed-Bold.svg#PlumbCondensed-Bold") format("svg"), url("../fonts/PlumbCondensed-Bold/PlumbCondensed-Bold.ttf") format("truetype"), url("../fonts/PlumbCondensed-Bold/PlumbCondensed-Bold.woff") format("woff"), url("../fonts/PlumbCondensed-Bold/PlumbCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-stretch: condensed;
  font-style: normal;
}

@font-face {
  font-family: Plumb;
  src: url("../fonts/Plumb-Regular/Plumb-Regular.eot");
  src: url("../fonts/Plumb-Regular/Plumb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb-Regular/Plumb-Regular.svg#Plumb-Regular") format("svg"), url("../fonts/Plumb-Regular/Plumb-Regular.ttf") format("truetype"), url("../fonts/Plumb-Regular/Plumb-Regular.woff") format("woff"), url("../fonts/Plumb-Regular/Plumb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
}

body {
  margin: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
  background-color: #fff;
  color: #413e6f;
  font-family: Plumb;
  font-size: 18px;
  font-weight: 400;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 500;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background-color: transparent;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

html,
body,
main {
  min-height: 100vh;
}

main {
  display: block;
  height: auto;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

textarea:focus,
input:focus {
  outline: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a p,
a span,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  cursor: pointer;
}

.clear {
  clear: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

[class*="col-"] {
  flex: none;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 1;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.col-1 {
  min-width: 8.33333%;
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}

.col-2 {
  min-width: 16.66667%;
  max-width: 16.66667%;
  flex-basis: 16.66667%;
}

.col-3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}

.col-4 {
  min-width: 33.33333%;
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}

.col-5 {
  min-width: 41.66667%;
  max-width: 41.66667%;
  flex-basis: 41.66667%;
}

.col-6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}

.col-7 {
  min-width: 58.33333%;
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}

.col-8 {
  min-width: 66.66667%;
  max-width: 66.66667%;
  flex-basis: 66.66667%;
}

.col-9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}

.col-10 {
  min-width: 83.33333%;
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}

.col-11 {
  min-width: 91.66667%;
  max-width: 91.66667%;
  flex-basis: 91.66667%;
}

.col-12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}

@media (max-width: 767px) {
  .xs-hide {
    display: none !important;
  }
  .xs-show {
    display: flex !important;
    flex-direction: column;
  }
  .xs-show_b {
    display: block !important;
  }
  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-xs-2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-xs-3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-xs-4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-xs-5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-xs-6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-xs-7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-xs-8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-xs-9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-xs-10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-xs-11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-xs-12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .s-hide {
    display: none !important;
  }
  .s-show {
    display: flex !important;
    flex-direction: column;
  }
  .s-show_b {
    display: block !important;
  }
  .col-s-auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-s {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-s-1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-s-2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-s-3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-s-4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-s-5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-s-6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-s-7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-s-8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-s-9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-s-10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-s-11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-s-12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1001px) and (max-width: 1025px) {
  .sm-hide {
    display: none !important;
  }
  .sm-show {
    display: flex !important;
    flex-direction: column;
  }
  .sm-show_b {
    display: block !important;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-sm-2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-sm-3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-sm-4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-sm-5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-sm-6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-sm-7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-sm-8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-sm-9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-sm-10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-sm-11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-sm-12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1025px) {
  .m-hide {
    display: none !important;
  }
  .m-show {
    display: flex !important;
    flex-direction: column;
  }
  .m-show_b {
    display: block !important;
  }
  .col-m-auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-m {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-m-1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-m-2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-m-3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-m-4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-m-5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-m-6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-m-7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-m-8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-m-9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-m-10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-m-11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-m-12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

.df {
  display: flex;
  align-items: center;
}

.df.s_betwen {
  justify-content: space-between;
}

body {
  display: flex;
  flex-direction: column;
}

body.no_scroll {
  overflow: hidden;
}

main {
  flex: 1 1 auto;
  min-height: auto;
}

header {
  flex: none;
  height: 81px;
  width: 100%;
  background: #413e6f;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

@media all and (max-width: 1025px) {
  header {
    display: none !important;
  }
}

header .logo {
  height: 62px;
  opacity: 0;
  transition: opacity 360ms;
}

header .logo.visible {
  opacity: 1;
  transition: opacity 360ms;
}

header nav a,
header nav span,
header nav .drop_down {
  font-family: Plumb;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}

header nav a + a,
header nav a + .drop_down,
header nav span + a,
header nav span + .drop_down,
header nav .drop_down + a,
header nav .drop_down + .drop_down {
  margin-left: 83px;
}

header nav .drop_down .drop {
  top: 100%;
  left: -30px;
  position: absolute;
  width: 184px;
  padding: 54px 6px 23px 22px;
  background-color: #413e6f;
  opacity: 0;
  pointer-events: none;
  transition: opacity 360ms;
}

header nav .drop_down .drop a {
  display: block;
  font-family: Plumb;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  color: #ffffff;
  font-weight: 400;
}

header nav .drop_down .drop a:hover {
  text-decoration: underline;
}

header nav .drop_down .drop a.active {
  font-weight: 900;
}

header nav .drop_down .drop a + a {
  margin-left: auto;
}

header nav .drop_down:hover .drop {
  opacity: 1;
  transition: opacity 360ms;
  pointer-events: all;
}

footer {
  flex: none;
  height: 190px;
  background: #413e6f;
  padding-top: 42px;
}

@media all and (max-width: 767px) {
  footer {
    height: auto;
    padding-bottom: 40px;
  }
}

footer .text {
  font-family: Plumb;
  font-size: 36px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: 0.72px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 28px;
}

@media all and (max-width: 767px) {
  footer .text {
    font-size: 32px;
  }
}

footer a {
  color: #fff;
}

@media all and (max-width: 767px) {
  footer a {
    font-size: 18px;
  }
}

footer a img {
  height: 24px;
}

footer a + a {
  margin-left: 28px;
}

@media all and (max-width: 767px) {
  footer a + a {
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 1025px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.big_container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: Plumb;
  font-size: 64px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 1.13;
  text-align: left;
  color: #413e6f;
}

@media all and (max-width: 767px) {
  .title {
    font-size: 32px;
  }
}

.top_section {
  height: 960px;
  padding-top: 81px;
  background: url("../img/top_bg_1.jpg") no-repeat center/contain;
}

@media all and (max-width: 1441px) {
  .top_section {
    height: 950px;
  }
}

@media all and (max-width: 1025px) {
  .top_section {
    background: url("../img/top_bg_1.jpg") no-repeat bottom 60px center/auto 100%;
  }
}

@media all and (max-width: 767px) {
  .top_section {
    padding-top: 10px;
    height: 900px;
    background: #fa6e00;
  }
}

.top_section .big_logo {
  margin-top: 30px;
}

@media all and (max-width: 769px) {
  .top_section .big_logo {
    position: absolute;
    right: 50px;
    top: -70px;
  }
}

@media all and (max-width: 767px) {
  .top_section .big_logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
    position: relative;
    top: auto;
    right: auto;
  }
}

.top_section .top_slogan {
  position: absolute;
  width: 571px;
  height: 343px;
  right: 85px;
  top: 112px;
}

@media all and (max-width: 769px) {
  .top_section .top_slogan {
    right: 150px;
    top: 60px;
  }
}

@media all and (max-width: 767px) {
  .top_section .top_slogan {
    position: relative;
    top: auto;
    right: auto;
    margin-top: -65px;
  }
}

.top_section .under_slogan {
  position: absolute;
  top: 505px;
  left: 515px;
  max-width: 430px;
  font-family: Plumb;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

@media all and (max-width: 769px) {
  .top_section .under_slogan {
    left: 160px;
    top: 450px;
  }
}

@media all and (max-width: 767px) {
  .top_section .under_slogan {
    position: relative;
    left: auto;
    top: auto;
  }
}

.top_section .assigne_btn {
  position: absolute;
  top: 600px;
  left: 85%;
  transform: translateX(-50%);
  width: 220px;
  height: 58px;
  border-radius: 8px;
  background-color: #413e6f;
  font-family: Plumb;
  font-size: 20px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: #ffffff;
  transition: all ease 0.3s;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.top_section .assigne_btn:hover {
  color: #f1f1f1;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.4));
}

@media all and (max-width: 769px) {
  .top_section .assigne_btn {
    left: 50%;
  }
}

@media all and (max-width: 767px) {
  .top_section .assigne_btn {
    top: 700px;
  }
}

.top_section .scroll_screen {
  position: absolute;
  left: calc(50% - 20px);
  top: 735px;
  width: 40px;
  height: 40px;
  animation: 2s bounce infinite;
  background: url("../img/mouse_icon.svg") no-repeat center/contain;
}

@media all and (max-width: 1441px) {
  .top_section .scroll_screen {
    top: 720px;
  }
}

@media all and (max-width: 767px) {
  .top_section .scroll_screen {
    display: none;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.online_school {
  padding-top: 24px;
  padding-bottom: 200px;
}

@media all and (max-width: 767px) {
  .online_school {
    padding-bottom: 50px;
  }
}

.online_school:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 300px;
  height: 100px;
  background: url("../img/why_we_cloud.png") no-repeat center/contain;
}

@media all and (max-width: 769px) {
  .online_school:after {
    display: none;
  }
}

.online_school h1,
.online_school .subtitle {
  font-family: Plumb;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #413e6f;
}

.online_school .subtitle {
  margin-top: 15px;
  margin-bottom: 78px;
}

.online_school h1 {
  font-size: 48px;
  font-stretch: condensed;
}

@media all and (max-width: 767px) {
  .online_school h1 {
    font-size: 36px;
  }
}

@media all and (max-width: 767px) {
  .online_school .stats {
    flex: 1 1 100%;
  }
  .online_school .stats + .stats {
    margin-top: 50px;
  }
}

.online_school .stats .num {
  font-size: 64px;
  letter-spacing: normal;
  color: #fa6e00;
  display: block;
  text-align: center;
}

.online_school .stats p {
  font-family: Plumb;
  font-size: 18px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 0.36px;
  text-align: center;
  color: #413e6f;
}

@media all and (max-width: 1025px) {
  .online_school .s_betwen {
    justify-content: space-around;
  }
}

@media all and (max-width: 767px) {
  .online_school .s_betwen {
    flex-wrap: wrap;
  }
}

.who_interested {
  height: 780px;
}

@media all and (max-width: 1025px) {
  .who_interested {
    height: auto;
    padding-bottom: 50px;
  }
}

.who_interested .title {
  margin-bottom: 35px;
  color: #fff;
  padding-top: 73px;
  font-size: 48px;
}

@media all and (max-width: 767px) {
  .who_interested .title {
    font-size: 32px;
  }
}

.who_interested .container {
  z-index: 2;
  padding-left: 505px;
}

@media all and (max-width: 769px) {
  .who_interested .container {
    padding-left: 15px;
  }
}

.who_interested:before {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: -1px;
  width: 300px;
  height: 250px;
  z-index: 2;
  background: url("../img/values_cloud.png") no-repeat top right/contain;
}

@media all and (max-width: 769px) {
  .who_interested:before {
    display: none;
  }
}

.who_interested:after {
  z-index: 0;
  width: 1087px;
  height: 781px;
  background-color: #413e6f;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}

@media all and (max-width: 1025px) {
  .who_interested:after {
    height: 100%;
    width: 100%;
  }
}

.who_interested .img_wrap {
  position: absolute;
  top: 83px;
  left: 0;
  width: 437px;
  height: 618px;
}

@media all and (max-width: 769px) {
  .who_interested .img_wrap {
    position: relative;
    top: 50px;
    left: auto;
    width: 100%;
    height: auto;
  }
}

.who_interested .img_wrap:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 200px;
  left: -103px;
  top: -89px;
  background: url("../img/3_lines.svg") no-repeat center/contain;
}

.who_interested .img_wrap img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.who_interested ul {
  max-width: 900px;
  margin-left: 20px;
}

.who_interested ul::before {
  content: "";
  position: absolute;
  width: 101px;
  height: 57px;
  transform: rotate(0deg);
  top: 8px;
  z-index: 1;
  right: 60px;
  opacity: 1;
  transition: opacity 360ms;
  background: url("../img/wats_in_price_img_arrow.svg") no-repeat center/contain;
}

@media all and (max-width: 1025px) {
  .who_interested ul::before {
    display: none;
  }
}

.who_interested ul:hover::before {
  opacity: 0;
  transition: opacity 360ms;
}

.who_interested ul li {
  font-family: Plumb;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.6px;
  text-align: left;
  color: #ffffff;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  text-decoration-style: solid;
  transition: text-decoration-color 360ms;
}

.who_interested ul li.no_hover {
  pointer-events: none;
}

@media all and (max-width: 767px) {
  .who_interested ul li {
    font-size: 18px;
  }
}

.who_interested ul li + li {
  margin-top: 20px;
}

@media all and (max-width: 767px) {
  .who_interested ul li + li {
    margin-top: 15px;
  }
}

.who_interested ul li:hover {
  font-weight: 700;
  text-decoration-color: #fa6e00;
  transition: text-decoration-color 360ms;
}

.why_we {
  padding-top: 63px;
  padding-bottom: 100px;
}

@media all and (max-width: 767px) {
  .why_we {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.why_we .title {
  margin-bottom: 75px;
}

.why_we:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 300px;
  height: 100px;
  background: url("../img/why_we_cloud.png") no-repeat center/contain;
}

@media all and (max-width: 769px) {
  .why_we:after {
    display: none;
  }
}

.why_we .why_wrap {
  flex-wrap: wrap;
  align-items: stretch;
}

.why_we .why_wrap .one {
  flex: 1 1 30%;
  max-width: 30%;
  margin-bottom: 65px;
  padding-top: 15px;
}

@media all and (max-width: 769px) {
  .why_we .why_wrap .one {
    flex: 1 1 50%;
    max-width: 45%;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 767px) {
  .why_we .why_wrap .one {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.why_we .why_wrap .one p {
  font-family: Plumb;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #413e6f;
  letter-spacing: -0.84px;
}

@media all and (max-width: 767px) {
  .why_we .why_wrap .one p {
    font-size: 18px;
  }
}

.why_we .why_wrap .one:before {
  content: "";
  width: 99px;
  height: 4px;
  background-color: #fa6e00;
  position: absolute;
  top: 0;
  left: 0;
}

.pressure {
  display: block;
  margin: 10px auto 100px;
  width: 574px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  font-family: Plumb;
  font-size: 48px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 1.17;
  color: #413e6f;
}

@media all and (max-width: 767px) {
  .pressure {
    width: 100%;
    font-size: 32px;
    margin-bottom: 0;
  }
}

@media all and (max-width: 767px) {
  .pressure svg {
    width: 100%;
  }
}

.pressure svg:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.pressure svg:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes move {
  100% {
    stroke-dashoffset: -19.42;
  }
}

.line-move {
  fill: none;
  stroke-dasharray: 19.42;
  stroke-dashoffset: 19.42;
  animation: move 1s linear infinite;
}

.our_values {
  height: 731px;
}

@media all and (max-width: 1025px) {
  .our_values {
    height: auto;
    padding-bottom: 85px;
  }
}

.our_values .title {
  color: #fff;
  margin-bottom: 58px;
  padding-top: 80px;
}

.our_values:before {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: -1px;
  width: 300px;
  height: 250px;
  z-index: 2;
  background: url("../img/values_cloud.png") no-repeat top right/contain;
}

@media all and (max-width: 769px) {
  .our_values:before {
    display: none;
  }
}

.our_values:after {
  z-index: 0;
  width: 1000px;
  height: 731px;
  background-color: #413e6f;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

@media all and (max-width: 1025px) {
  .our_values:after {
    height: 100%;
    width: 100%;
  }
}

.our_values .container {
  z-index: 2;
}

.our_values .img_wrap {
  position: absolute;
  top: 100px;
  right: 60px;
  width: 380px;
  height: 520px;
}

@media all and (max-width: 1025px) {
  .our_values .img_wrap {
    right: 0;
  }
}

@media all and (max-width: 769px) {
  .our_values .img_wrap {
    position: relative;
    top: 50px;
    right: auto;
    width: 100%;
    height: auto;
  }
}

.our_values .img_wrap:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 200px;
  left: -70px;
  top: -70px;
  background: url("../img/3_lines.svg") no-repeat center/contain;
}

.our_values .img_wrap img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.our_values ul {
  max-width: 900px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media all and (max-width: 1025px) {
  .our_values ul {
    max-width: 640px;
  }
}

@media all and (max-width: 769px) {
  .our_values ul {
    padding-left: 30px;
    max-width: 100%;
  }
}

@media all and (max-width: 767px) {
  .our_values ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    margin-bottom: 50px;
    padding-left: 0;
    margin-left: 20px;
  }
}

.our_values ul::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 57px;
  transform: rotate(0deg);
  top: 43px;
  z-index: 1;
  left: -119px;
  opacity: 1;
  transition: opacity 360ms;
  background: url("../img/how_to_become_arrow.svg") no-repeat center/contain;
}

.our_values ul:hover::before {
  opacity: 0;
  transition: opacity 360ms;
}

.our_values ul li {
  font-family: Plumb;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.6px;
  text-align: left;
  color: #ffffff;
  max-width: 345px;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  text-decoration-style: solid;
  transition: text-decoration-color 360ms;
}

@media all and (max-width: 767px) {
  .our_values ul li {
    font-size: 18px;
  }
}

.our_values ul li:hover {
  font-weight: 700;
  text-decoration-color: #fa6e00;
  transition: text-decoration-color 360ms;
}

@media all and (max-width: 1025px) {
  .our_team {
    overflow-x: hidden;
  }
}

.our_team p.title {
  margin-top: 82px;
  margin-bottom: 82px;
  text-align: center;
}

.our_team .team_wrap {
  flex-wrap: wrap;
  align-items: stretch;
}

@media all and (max-width: 769px) {
  .our_team .team_wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media all and (max-width: 767px) {
  .our_team .team_wrap {
    justify-content: center;
  }
}

.our_team .team_wrap .one {
  width: 268px;
  flex: none;
  margin-bottom: 47px;
}

.our_team .team_wrap .one:nth-child(1):before {
  content: "";
  position: absolute;
  width: 101px;
  height: 57px;
  transform: rotate(46deg);
  top: 2px;
  z-index: 1;
  left: -106px;
  background: url("../img/how_to_become_arrow.svg") no-repeat center/contain;
}

@media all and (max-width: 1025px) {
  .our_team .team_wrap .one:nth-child(1):before {
    display: none;
  }
}

.our_team .team_wrap .one:nth-child(8):before {
  content: "";
  position: absolute;
  width: 101px;
  height: 57px;
  transform: rotate(179deg);
  top: 300px;
  z-index: 1;
  right: -78px;
  background: url("../img/how_to_become_arrow.svg") no-repeat center/contain;
}

@media all and (max-width: 1025px) {
  .our_team .team_wrap .one:nth-child(8):before {
    display: none;
  }
}

.our_team .team_wrap .one:nth-child(17):before {
  content: "";
  position: absolute;
  width: 101px;
  height: 57px;
  transform: rotate(70deg);
  top: -100px;
  z-index: 1;
  left: -46px;
  background: url("../img/how_to_become_arrow.svg") no-repeat center/contain;
}

@media all and (max-width: 1025px) {
  .our_team .team_wrap .one:nth-child(17):before {
    display: none;
  }
}

.our_team .team_wrap .one:after {
  content: "";
  position: absolute;
  top: -90px;
  left: -100px;
  display: block;
  width: 480px;
  height: 390px;
  background: url("../img/teachers/teacher_hover.svg") no-repeat center/contain;
  pointer-events: none;
  opacity: 0;
  transition: opacity ease-in-out 360ms;
}

.our_team .team_wrap .one .img_wrap {
  overflow: hidden;
  height: 398px;
  margin-bottom: 23px;
}

.our_team .team_wrap .one .img_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}

.our_team .team_wrap .one .img_wrap img.hover_img {
  opacity: 0;
  transition: opacity ease-in-out 360ms;
}

.our_team .team_wrap .one .name {
  font-family: Plumb;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #413e6f;
  display: block;
  margin-bottom: 10px;
}

.our_team .team_wrap .one .desc {
  font-family: Plumb;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #413e6f;
}

.our_team .team_wrap .one .sub_desc {
  display: block;
  margin-top: 10px;
  font-family: Plumb;
  font-size: 12px;
  line-height: 1.4;
  color: #413e6f;
  opacity: 0;
  transition: opacity ease-in-out 360ms;
}

.our_team .team_wrap .one:hover:after,
.our_team .team_wrap .one:hover .sub_desc,
.our_team .team_wrap .one:hover img.hover_img {
  opacity: 1;
  transition: opacity ease-in-out 360ms;
}

.our_team .team_wrap .get_license {
  flex: 1 1 auto;
  align-self: center;
}

@media all and (max-width: 769px) {
  .our_team .team_wrap .get_license {
    padding-bottom: 50px;
  }
}

.our_team .team_wrap .get_license .pressure {
  margin-top: 0;
  margin-bottom: 0;
}

.study_plan {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #413e6f;
  background-image: url("../img/plan_bg/plan_bg_2.png"), url("../img/plan_bg/plan_bg_1.png"), url("../img/plan_bg/plan_bg_3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right center, right center, left bottom;
}

.study_plan .study_plan_table_wrap {
  background-color: #fff;
  padding: 30px 25px 37px;
}

@media all and (max-width: 767px) {
  .study_plan .study_plan_table_wrap {
    padding: 30px 0;
  }
}

.study_plan .study_plan_table_wrap .title {
  text-align: center;
  margin-bottom: 10px;
}

.study_plan .study_plan_table_wrap .subtitle {
  font-family: Plumb;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  color: #413e6f;
  margin-bottom: 22px;
}

.study_plan table {
  width: 100%;
  table-layout: fixed;
}

.study_plan table th {
  font-family: Plumb;
  font-size: 34.2px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 1.17;
  color: #413e6f;
}

@media all and (max-width: 767px) {
  .study_plan table th {
    font-size: 12px;
    width: auto;
  }
  .study_plan table th:first-child {
    width: 100px;
  }
}

.study_plan table th,
.study_plan table td {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 3px;
  border: solid 1px #413e6f4c;
  cursor: default;
}

@media all and (max-width: 767px) {
  .study_plan table th,
  .study_plan table td {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.study_plan table tbody tr:not(.summary) td {
  font-family: Plumb;
  font-size: 17.1px;
  font-weight: bold;
  line-height: 1.97;
  text-align: center;
  color: #d25e3c;
  text-transform: capitalize;
}

@media all and (max-width: 767px) {
  .study_plan table tbody tr:not(.summary) td {
    font-size: 10px;
  }
}

.study_plan table .summary td {
  font-family: Plumb;
  font-size: 12.8px;
  font-weight: bold;
  color: #413e6f;
}

.study_plan .anotation {
  margin-left: 29%;
  width: 42%;
  margin-top: 30px;
  font-family: Plumb;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-align: center;
  color: #413e6f;
}

@media all and (max-width: 769px) {
  .study_plan .anotation {
    width: 100%;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.video_wrap {
  background-color: #fa6e00;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media all and (max-width: 767px) {
  .video_wrap {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.video_wrap:before {
  position: absolute;
  display: block;
  content: "";
  width: 101px;
  height: 57px;
  top: 450px;
  z-index: 1;
  left: 75px;
  opacity: 1;
  transition: opacity 360ms;
  background: url("../img/video_arrow.svg") no-repeat center/contain;
}

@media all and (max-width: 769px) {
  .video_wrap:before {
    display: none;
  }
}

.video_wrap:hover::before {
  opacity: 0;
  transition: opacity 360ms;
}

.video_wrap .inner {
  align-items: stretch;
  height: 500px;
}

@media all and (max-width: 767px) {
  .video_wrap .inner {
    height: auto;
    flex-wrap: wrap;
  }
}

.video_wrap .inner .one {
  flex: none;
  width: 50%;
  padding-top: 154px;
  cursor: pointer;
  background-color: #ffffff;
}

@media all and (max-width: 767px) {
  .video_wrap .inner .one {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.video_wrap .inner .one p {
  cursor: pointer;
}

.video_wrap .inner .one:last-child {
  background-color: #f2f2f2;
}

.video_wrap .inner .one .title {
  text-align: center;
  margin-bottom: 42px;
}

.video_wrap .inner .one .desc {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 298px;
  font-family: Plumb;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #413e6f;
}

.school_format {
  height: 780px;
  padding-top: 85px;
  padding-bottom: 145px;
  background: url("../img/study_format_bg.jpg") no-repeat center/cover;
}

@media all and (max-width: 1025px) {
  .school_format {
    padding-top: 75px;
    padding-bottom: 75px;
    height: auto;
    background: #fff;
  }
}

.school_format .title {
  margin-bottom: 40px;
}

.school_format .inner {
  align-items: stretch;
}

@media all and (max-width: 769px) {
  .school_format .inner {
    flex-wrap: wrap;
  }
}

.school_format .left {
  padding-right: 80px;
}

@media all and (max-width: 1025px) {
  .school_format .left {
    padding-right: 30px;
  }
}

@media all and (max-width: 769px) {
  .school_format .left {
    padding-right: 0;
  }
}

.school_format .left,
.school_format .right {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (max-width: 769px) {
  .school_format .left,
  .school_format .right {
    flex: 1 1 100%;
  }
}

.school_format .right {
  padding-left: 100px;
}

@media all and (max-width: 1025px) {
  .school_format .right {
    padding-left: 30px;
  }
}

@media all and (max-width: 769px) {
  .school_format .right {
    padding-left: 0;
    padding-top: 50px;
  }
}

.school_format .right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: url("../img/dashed_line_vertical.png") no-repeat center/contain;
  width: 3px;
  height: 400px;
}

@media all and (max-width: 769px) {
  .school_format .right::before {
    display: none;
  }
}

.school_format .subtitle {
  font-family: Plumb;
  font-size: 46px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 0.7;
  text-align: left;
  color: #413e6f;
  margin-bottom: 40px;
}

@media all and (max-width: 1025px) {
  .school_format .subtitle {
    line-height: normal;
  }
}

@media all and (max-width: 767px) {
  .school_format .subtitle {
    font-size: 24px;
    line-height: normal;
  }
}

.school_format .price {
  display: flex;
  padding-top: 40px;
  flex: none;
  height: 140px;
  font-family: Plumb;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #fa6e00;
}

@media all and (max-width: 767px) {
  .school_format .price {
    font-size: 20px;
  }
}

.school_format ul {
  padding-left: 20px;
}

.school_format ul li {
  font-family: Plumb;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #413e6f;
}

@media all and (max-width: 767px) {
  .school_format ul li {
    font-size: 18px;
  }
}

.school_format ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #413e6f;
}

.wats_in_price {
  background-color: #413e6f;
  padding-top: 65px;
  padding-bottom: 90px;
}

@media all and (max-width: 769px) {
  .wats_in_price {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.wats_in_price:after {
  z-index: 3;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 450px;
  background: url("../img/wats_in_price_cloud.png") no-repeat left bottom/contain;
}

@media all and (max-width: 769px) {
  .wats_in_price:after {
    display: none;
  }
}

.wats_in_price .img_1 {
  position: absolute;
  width: 457px;
  top: 56px;
  z-index: 1;
}

@media all and (max-width: 769px) {
  .wats_in_price .img_1 {
    display: none;
  }
}

.wats_in_price .img_splash {
  position: absolute;
  z-index: 2;
  width: 92px;
  height: 90px;
  top: 20px;
  left: -44px;
}

@media all and (max-width: 769px) {
  .wats_in_price .img_splash {
    display: none;
  }
}

.wats_in_price .img_2 {
  position: absolute;
  width: 457px;
  top: 361px;
  left: 133px;
  z-index: 1;
}

@media all and (max-width: 1025px) {
  .wats_in_price .img_2 {
    left: 40px;
  }
}

@media all and (max-width: 769px) {
  .wats_in_price .img_2 {
    display: none;
  }
}

.wats_in_price .left {
  flex: 1 1 auto;
  align-self: baseline;
}

@media all and (max-width: 769px) {
  .wats_in_price .left {
    display: none;
  }
}

.wats_in_price .right {
  flex: none;
  width: 463px;
}

@media all and (max-width: 769px) {
  .wats_in_price .right {
    width: 100%;
  }
}

.wats_in_price .title {
  color: #ffffff;
  margin-bottom: 30px;
}

.wats_in_price ul {
  padding-left: 20px;
}

.wats_in_price ul li {
  font-family: Plumb;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #ffffff;
}

@media all and (max-width: 767px) {
  .wats_in_price ul li {
    font-size: 18px;
  }
}

.wats_in_price ul li.with_arrow:after {
  content: "";
  width: 101px;
  height: 57px;
  position: absolute;
  right: -75px;
  top: 6px;
  background: url("../img/wats_in_price_img_arrow.svg") no-repeat center/contain;
}

@media all and (max-width: 1025px) {
  .wats_in_price ul li.with_arrow:after {
    display: none;
  }
}

.wats_in_price ul li a {
  color: #fff;
  text-decoration: underline;
}

.wats_in_price ul li a:hover {
  text-decoration: none;
}

.wats_in_price ul li + li {
  margin-top: 34px;
}

.how_to_become_student {
  height: 716px;
  padding-top: 105px;
  background: url("../img/how_to_become.jpg") no-repeat center/cover;
}

@media all and (max-width: 767px) {
  .how_to_become_student {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
  }
}

.how_to_become_student:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  z-index: 2;
  width: 266px;
  height: 155px;
  background: url("../img/how_to_study_cloud.png") no-repeat center/contain;
}

@media all and (max-width: 769px) {
  .how_to_become_student:before {
    display: none;
  }
}

.how_to_become_student:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 280px;
  height: 280px;
  background: url("../img/how_to_become_splash.png") no-repeat right bottom;
}

@media all and (max-width: 769px) {
  .how_to_become_student:after {
    display: none;
  }
}

.how_to_become_student .title {
  text-align: center;
  margin-bottom: 90px;
}

@media all and (max-width: 767px) {
  .how_to_become_student .title {
    margin-bottom: 30px;
  }
}

.how_to_become_student ul {
  list-style: none;
}

.how_to_become_student ul li {
  text-align: center;
}

.how_to_become_student ul li:first-child button {
  text-decoration: underline;
}

.how_to_become_student ul li:first-child:before {
  content: "";
  display: block;
  position: absolute;
  width: 101px;
  height: 57px;
  left: 310px;
  opacity: 1;
  transition: opacity 360ms;
  background: url("../img/how_to_become_arrow.svg") no-repeat center;
}

@media all and (max-width: 769px) {
  .how_to_become_student ul li:first-child:before {
    display: none;
  }
}

.how_to_become_student ul li:first-child:hover {
  font-weight: 700;
}

.how_to_become_student ul li:first-child:hover button {
  text-decoration: none;
}

.how_to_become_student ul li + li {
  margin-top: 40px;
}

@media all and (max-width: 767px) {
  .how_to_become_student ul li + li {
    margin-top: 20px;
  }
}

.how_to_become_student ul:hover li:first-child:before {
  opacity: 0;
  transition: opacity 360ms;
}

.what_u_need {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #413e6f;
}

.what_u_need:before {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 280px;
  height: 280px;
  background: url("../img/what_u_need_splash.png") no-repeat top right;
}

@media all and (max-width: 769px) {
  .what_u_need:before {
    display: none;
  }
}

.what_u_need .inner {
  align-items: stretch;
}

@media all and (max-width: 1025px) {
  .what_u_need .inner {
    flex-wrap: wrap;
  }
}

.what_u_need .left {
  flex: 1 1 auto;
  padding-right: 70px;
}

@media all and (max-width: 769px) {
  .what_u_need .left {
    padding-right: 0;
    flex: 1 1 100%;
  }
}

.what_u_need .right {
  display: flex;
  align-items: center;
  width: 564px;
  flex: none;
}

@media all and (max-width: 769px) {
  .what_u_need .right {
    flex: 1 1 100%;
    width: auto;
    margin-top: 30px;
  }
  .what_u_need .right img {
    width: 100%;
  }
}

.what_u_need .title {
  font-size: 36px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 40px;
  max-width: 450px;
  margin-top: 15px;
}

@media all and (max-width: 767px) {
  .what_u_need .title {
    font-size: 32px;
  }
}

@media all and (max-width: 769px) {
  .what_u_need .title {
    max-width: 100%;
  }
}

.what_u_need ul {
  list-style-position: outside;
  padding-left: 20px;
}

.what_u_need ul li {
  font-family: Plumb;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #ffffff;
}

@media all and (max-width: 767px) {
  .what_u_need ul li {
    font-size: 18px;
  }
}

.what_u_need ul li + li {
  margin-top: 30px;
}

@media all and (max-width: 767px) {
  .what_u_need ul li + li {
    font-size: 15px;
  }
}

.news {
  padding-top: 100px;
  padding-bottom: 70px;
}

.news::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 530px;
  height: 200px;
  background: url("../img/news_cloude.png") no-repeat right bottom/contain;
}

@media all and (max-width: 769px) {
  .news::after {
    display: none;
  }
}

.news .title {
  margin-bottom: 30px;
}

.news .inner {
  align-items: baseline;
  flex-wrap: wrap;
}

.news .one {
  flex: 1 1 50%;
  max-width: 569px;
  padding-bottom: 30px;
}

@media all and (max-width: 1025px) {
  .news .one {
    max-width: 48%;
  }
}

@media all and (max-width: 767px) {
  .news .one {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.news .one:first-child::after {
  content: "";
  position: absolute;
  width: 101px;
  height: 57px;
  left: -100px;
  top: 150px;
  background: url("../img/news_arrow.svg") no-repeat center/contain;
}

.news .one:hover .content {
  max-height: 500px;
  transition: max-height 360ms;
}

.news .img_wrap {
  overflow: hidden;
  height: 400px;
  background-color: #c4c4c4;
}

.news .img_wrap img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.news .news_title {
  font-family: Plumb;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #413e6f;
  margin-top: 22px;
  margin-bottom: 10px;
}

.news .content {
  font-family: Plumb;
  font-size: 12px;
  line-height: 1.2;
  text-align: left;
  color: #413e6f;
  max-height: 29px;
  overflow: hidden;
  transition: max-height 360ms;
}

.photo_space {
  background-color: #413e6f;
  padding-top: 76px;
  padding-bottom: 150px;
}

@media all and (max-width: 767px) {
  .photo_space {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.photo_space:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 556px;
  height: 225px;
  z-index: 2;
  background: url("../img/space_cloud.png") no-repeat top right/contain;
}

@media all and (max-width: 769px) {
  .photo_space:after {
    display: none;
  }
}

.photo_space .title {
  margin-bottom: 46px;
  color: #fff;
}

.photo_space .swiper-slide {
  height: 610px;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .photo_space .swiper-slide {
    height: 200px;
  }
}

.photo_space .swiper-slide img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.contacts {
  background-color: #fa6e00;
  padding-top: 66px;
  padding-bottom: 160px;
}

.contacts .title {
  color: #ffffff;
  margin-bottom: 28px;
}

.contacts .map_wrap {
  height: 445px;
  background-color: #c4c4c4;
}

.contacts .map_wrap iframe {
  width: 100%;
  height: 100%;
}

.contacts .links_wrap {
  position: absolute;
  bottom: 28px;
  right: 135px;
}

@media all and (max-width: 767px) {
  .contacts .links_wrap {
    right: auto;
    left: 15px;
  }
}

.contacts .links_wrap:before, .contacts .links_wrap:after {
  content: "";
  position: absolute;
}

@media all and (max-width: 767px) {
  .contacts .links_wrap:before, .contacts .links_wrap:after {
    display: none;
  }
}

.contacts .links_wrap:before {
  width: 410px;
  height: 160px;
  top: -40px;
  left: -72px;
  opacity: 0;
  transition: opacity 360ms;
  background: url("../img/adress_round.svg") no-repeat center/contain;
}

.contacts .links_wrap:after {
  width: 101px;
  height: 57px;
  bottom: 25px;
  right: -115px;
  opacity: 1;
  transition: opacity 360ms;
  background: url("../img/adress_arrow.svg") no-repeat center/contain;
}

.contacts .links_wrap:hover:before {
  opacity: 1;
  transition: opacity 360ms;
}

.contacts .links_wrap:hover:after {
  opacity: 0;
  transition: opacity 360ms;
}

.contacts .links_wrap a {
  display: block;
  color: #fff;
  font-family: Plumb;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.78;
  text-align: left;
}

.contacts .links_wrap a + a {
  margin-top: 5px;
}

.contacts .links_wrap a:hover {
  text-decoration: underline;
}

.partners {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.partners .title {
  margin-bottom: 35px;
}

.partners .parners_wrap {
  flex-wrap: wrap;
  align-items: center;
}

@media all and (max-width: 1025px) {
  .partners .parners_wrap {
    justify-content: space-between;
  }
}

.partners .parners_wrap img {
  margin-bottom: 50px;
  margin-right: 48px;
}

@media all and (max-width: 1025px) {
  .partners .parners_wrap img {
    margin-right: 15px;
  }
}

@media all and (max-width: 767px) {
  .partners .parners_wrap img {
    max-width: 45%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow-x: auto;
  z-index: 100;
  opacity: 1;
  transition: opacity 360ms;
}

.modal.hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 360ms;
}

.modal .close {
  position: absolute;
  top: 60px;
  right: 60px;
  width: 25px;
  height: 28px;
  background: url("../img/close_icon_color.svg") no-repeat center/contain;
}

@media all and (max-width: 769px) {
  .modal .close {
    top: 30px;
    right: 30px;
  }
}

.modal_overlay {
  background-color: #fa6e00;
  padding-top: 100px;
}

.modal_overlay .close {
  background: url("../img/close_icon.svg") no-repeat center/contain;
}

.modal_overlay .video_wraper {
  max-width: 90%;
  height: 500px;
  background-color: #ffffff;
}

.modal_overlay .video_wraper p {
  padding-top: 190px;
  padding-left: 100px;
  font-family: Plumb;
  font-size: 64px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #413e6f;
}

.thanks_overlay {
  background: url("../img/modal_thanks_bg.jpg") no-repeat center/cover;
  padding-top: 100px;
}

.thanks_overlay .thanks {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Plumb;
  font-size: 48px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media all and (max-width: 767px) {
  .thanks_overlay .thanks {
    width: 100%;
    font-size: 32px;
  }
}

.form_overlay {
  background: #fff url("../img/modal_cloud.svg") no-repeat top 150px right;
  padding-top: 50px;
}

@media all and (max-width: 767px) {
  .form_overlay {
    background: #fff;
  }
}

.form_overlay .form_wrap .title {
  font-family: Plumb;
  font-size: 48px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 1.13;
  text-align: center;
  color: #413e6f;
  margin-bottom: 40px;
}

@media all and (max-width: 767px) {
  .form_overlay .form_wrap .title {
    font-size: 32px;
  }
}

.form_overlay .form_wrap input {
  height: 64px;
  line-height: 64px;
  background: transparent;
  font-family: Plumb;
  font-size: 18px;
  line-height: 1.78;
  text-align: left;
  color: #413e6f;
  border-bottom: 1px solid #413e6f;
  width: 100%;
}

@media all and (max-width: 767px) {
  .form_overlay .form_wrap input {
    height: 32px;
    line-height: 32px;
  }
}

.form_overlay .form_wrap input.invalide {
  color: #fa6e00;
  border-bottom: 1px solid #fa6e00;
}

.form_overlay .form_wrap input + input {
  margin-top: 30px;
}

.form_overlay .form_wrap .send_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 456px;
  height: 64px;
  border-radius: 8px;
  background-color: #d25e3c;
  font-family: Plumb;
  font-size: 20px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 1.6px;
  text-align: center;
  color: #ffffff;
}

@media all and (max-width: 767px) {
  .form_overlay .form_wrap .send_form {
    width: 100%;
  }
}

.form_overlay .form_wrap .error_note {
  margin-top: 36px;
  margin-bottom: 52px;
  text-align: center;
  font-family: Plumb;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.29;
  text-align: center;
  color: #fa6e00;
  pointer-events: all;
  opacity: 0;
  transition: opacity 180ms;
}

.form_overlay .form_wrap .error_note.hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 180ms;
}

.license_overlay {
  background: #fff url("../img/modal_cloud.svg") no-repeat top 150px right;
}

@media all and (max-width: 767px) {
  .license_overlay {
    background: #fff;
  }
}
/*# sourceMappingURL=styles.css.map */