@import "basic.scss";
@import "grid";

.df {
  display: flex;
  align-items: center;

  &.s_betwen {
    justify-content: space-between;
  }
}

body {
  display: flex;
  flex-direction: column;

  &.no_scroll {
    overflow: hidden;
  }
}

main {
  flex: 1 1 auto;
  min-height: auto;
}

header {
  flex: none;
  height: 81px;
  width: 100%;
  background: #413e6f;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  @media all and (max-width: 1025px) {
    display: none !important;
  }

  .logo {
    height: 62px;
    opacity: 0;
    transition: opacity 360ms;

    &.visible {
      opacity: 1;
      transition: opacity 360ms;
    }
  }

  nav {
    a,
    span,
    .drop_down {
      font-family: Plumb;
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      color: #ffffff;
      cursor: pointer;

      & + a,
      & + .drop_down {
        margin-left: 83px;
      }
    }

    .drop_down {
      .drop {
        top: 100%;
        left: -30px;
        position: absolute;
        width: 184px;
        padding: 54px 6px 23px 22px;
        background-color: #413e6f;
        opacity: 0;
        pointer-events: none;
        transition: opacity 360ms;

        a {
          display: block;
          font-family: Plumb;
          font-size: 16px;
          line-height: 1.4;
          text-align: left;
          color: #ffffff;
          font-weight: 400;

          &:hover {
            text-decoration: underline;
          }

          &.active {
            font-weight: 900;
          }

          & + a {
            margin-left: auto;
          }
        }
      }

      &:hover {
        .drop {
          opacity: 1;
          transition: opacity 360ms;
          pointer-events: all;
        }
      }
    }
  }
}

footer {
  flex: none;
  height: 190px;
  background: #413e6f;
  padding-top: 42px;

  @media all and (max-width: 767px) {
    height: auto;
    padding-bottom: 40px;
  }

  .text {
    font-family: Plumb;
    font-size: 36px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.72px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 28px;

    @media all and (max-width: 767px) {
      font-size: 32px;
    }
  }

  a {
    color: #fff;

    @media all and (max-width: 767px) {
      font-size: 18px;
    }

    img {
      height: 24px;
    }

    & + a {
      margin-left: 28px;

      @media all and (max-width: 767px) {
        display: block;
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media all and (max-width: 1025px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.big_container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: Plumb;
  font-size: 64px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 1.13;
  text-align: left;
  color: #413e6f;

  @media all and (max-width: 767px) {
    font-size: 32px;
  }
}

.top_section {
  height: 960px;
  padding-top: 81px;
  background: url("../img/top_bg_1.jpg") no-repeat center / contain;

  @media all and (max-width: 1441px) {
    height: 950px;
  }

  @media all and (max-width: 1025px) {
    background: url("../img/top_bg_1.jpg") no-repeat bottom 60px center/auto
      100%;
  }

  @media all and (max-width: 767px) {
    padding-top: 10px;
    height: 900px;
    background: rgba(250, 110, 0, 1);
  }

  .big_logo {
    margin-top: 30px;

    @media all and (max-width: 769px) {
      position: absolute;
      right: 50px;
      top: -70px;
    }

    @media all and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      display: block;
      position: relative;
      top: auto;
      right: auto;
    }
  }

  .top_slogan {
    position: absolute;
    width: 571px;
    height: 343px;
    right: 85px;
    top: 112px;

    @media all and (max-width: 769px) {
      right: 150px;
      top: 60px;
    }

    @media all and (max-width: 767px) {
      position: relative;
      top: auto;
      right: auto;
      margin-top: -65px;
    }
  }

  .under_slogan {
    position: absolute;
    top: 505px;
    left: 515px;
    max-width: 445px;
    font-family: Plumb;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;

    @media all and (max-width: 769px) {
      left: 160px;
      top: 450px;
    }

    @media all and (max-width: 767px) {
      position: relative;
      left: auto;
      top: auto;
    }
  }

  .assigne_btn {
    position: absolute;
    top: 600px;
    left: 85%;
    transform: translateX(-50%);
    width: 220px;
    height: 58px;
    line-height: 56px;
    border-radius: 8px;
    background-color: #413e6f;
    font-family: Plumb;
    font-size: 20px;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: 1.6px;
    text-align: center;
    color: #ffffff;
    transition: all ease 0.3s;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));

    &:hover {
      color: #f1f1f1;
      filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.4));
    }

    @media all and (max-width: 769px) {
      left: 50%;
    }

    @media all and (max-width: 767px) {
      top: 700px;
    }
  }

  .scroll_screen {
    position: absolute;
    left: calc(50% - 20px);
    top: 735px;
    width: 40px;
    height: 40px;
    animation: 2s bounce infinite;
    background: url("../img/mouse_icon.svg") no-repeat center / contain;

    @media all and (max-width: 1441px) {
      top: 720px;
    }

    @media all and (max-width: 767px) {
      display: none;
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.online_school {
  padding-top: 24px;
  padding-bottom: 200px;

  @media all and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 300px;
    height: 100px;
    background: url("../img/why_we_cloud.png") no-repeat center / contain;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  h1,
  .subtitle {
    font-family: Plumb;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #413e6f;
  }

  .subtitle {
    margin-top: 15px;
    margin-bottom: 78px;
  }

  h1 {
    font-size: 48px;
    font-stretch: condensed;

    @media all and (max-width: 767px) {
      font-size: 36px;
      line-height: 46px;
    }
  }

  .stats {
    @media all and (max-width: 767px) {
      flex: 1 1 100%;

      & + .stats {
        margin-top: 50px;
      }
    }

    .num {
      font-size: 64px;
      letter-spacing: normal;
      color: #fa6e00;
      display: block;
      text-align: center;
    }

    p {
      font-family: Plumb;
      font-size: 18px;
      font-weight: bold;
      font-stretch: condensed;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: 0.36px;
      text-align: center;
      color: #413e6f;
    }
  }

  .s_betwen {
    @media all and (max-width: 1025px) {
      justify-content: space-around;
    }

    @media all and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
}

.who_interested {
  height: 780px;

  @media all and (max-width: 1025px) {
    height: auto;
    padding-bottom: 50px;
  }

  .title {
    margin-bottom: 35px;
    color: #fff;
    padding-top: 73px;
    font-size: 48px;

    @media all and (max-width: 767px) {
      font-size: 32px;
    }
  }

  .container {
    z-index: 2;
    padding-left: 505px;

    @media all and (max-width: 769px) {
      padding-left: 15px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -1px;
    width: 300px;
    height: 250px;
    z-index: 2;
    background: url("../img/values_cloud.png") no-repeat top right / contain;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  &:after {
    z-index: 0;
    width: 1087px;
    height: 781px;
    background-color: #413e6f;
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    @media all and (max-width: 1025px) {
      height: 100%;
      width: 100%;
    }
  }

  .img_wrap {
    position: absolute;
    top: 83px;
    left: 0;
    width: 437px;
    height: 618px;

    @media all and (max-width: 769px) {
      position: relative;
      top: 50px;
      left: auto;
      width: 100%;
      height: auto;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 200px;
      height: 200px;
      left: -103px;
      top: -89px;
      background: url("../img/3_lines.svg") no-repeat center / contain;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  ul {
    max-width: 900px;
    margin-left: 20px;

    &::before {
      content: "";
      position: absolute;
      width: 101px;
      height: 57px;
      transform: rotate(0deg);
      top: 8px;
      z-index: 1;
      right: 60px;
      opacity: 1;
      transition: opacity 360ms;
      background: url("../img/wats_in_price_img_arrow.svg") no-repeat
        center/contain;

      @media all and (max-width: 1025px) {
        display: none;
      }
    }

    &:hover {
      &::before {
        opacity: 0;
        transition: opacity 360ms;
      }
    }

    li {
      font-family: Plumb;
      font-size: 24px;
      line-height: 1.5;
      letter-spacing: -0.6px;
      text-align: left;
      color: #ffffff;
      text-decoration-line: underline;
      text-decoration-color: transparent;
      text-decoration-style: solid;
      transition: text-decoration-color 360ms;

      &.no_hover {
        pointer-events: none;
      }

      @media all and (max-width: 767px) {
        font-size: 18px;
      }

      & + li {
        margin-top: 20px;

        @media all and (max-width: 767px) {
          margin-top: 15px;
        }
      }

      &:hover {
        font-weight: 700;
        text-decoration-color: #fa6e00;
        transition: text-decoration-color 360ms;
      }
    }
  }
}

.why_we {
  padding-top: 63px;
  padding-bottom: 100px;

  @media all and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .title {
    margin-bottom: 75px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 300px;
    height: 100px;
    background: url("../img/why_we_cloud.png") no-repeat center / contain;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .why_wrap {
    flex-wrap: wrap;
    align-items: stretch;

    .one {
      flex: 1 1 30%;
      max-width: 30%;
      margin-bottom: 65px;
      padding-top: 15px;

      @media all and (max-width: 769px) {
        flex: 1 1 50%;
        max-width: 45%;
        margin-bottom: 30px;
      }

      @media all and (max-width: 767px) {
        flex: 1 1 100%;
        max-width: 100%;
      }

      p {
        font-family: Plumb;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        color: #413e6f;
        letter-spacing: -0.84px;

        @media all and (max-width: 767px) {
          font-size: 18px;
        }
      }

      &:before {
        content: "";
        width: 99px;
        height: 4px;
        background-color: #fa6e00;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.pressure {
  display: block;
  margin: 10px auto 100px;
  width: 574px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  font-family: Plumb;
  font-size: 48px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 1.17;
  color: #413e6f;

  @media all and (max-width: 767px) {
    width: 100%;
    font-size: 32px;
    margin-bottom: 0;
  }

  svg {
    @media all and (max-width: 767px) {
      width: 100%;
    }

    &:first-child {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:last-child {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

@keyframes move {
  100% {
    stroke-dashoffset: -19.42;
  }
}

.line-move {
  fill: none;
  stroke-dasharray: 19.42;
  stroke-dashoffset: 19.42;
  animation: move 1s linear infinite;
}

.our_values {
  height: 731px;

  @media all and (max-width: 1025px) {
    height: auto;
    padding-bottom: 85px;
  }

  .title {
    color: #fff;
    margin-bottom: 58px;
    padding-top: 80px;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -1px;
    width: 300px;
    height: 250px;
    z-index: 2;
    background: url("../img/values_cloud.png") no-repeat top right / contain;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  &:after {
    z-index: 0;
    width: 1000px;
    height: 731px;
    background-color: #413e6f;
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    @media all and (max-width: 1025px) {
      height: 100%;
      width: 100%;
    }
  }

  .container {
    z-index: 2;
  }

  .img_wrap {
    position: absolute;
    top: 100px;
    right: 60px;
    width: 380px;
    height: 520px;

    @media all and (max-width: 1025px) {
      right: 0;
    }

    @media all and (max-width: 769px) {
      position: relative;
      top: 50px;
      right: auto;
      width: 100%;
      height: auto;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 200px;
      height: 200px;
      left: -70px;
      top: -70px;
      background: url("../img/3_lines.svg") no-repeat center / contain;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  ul {
    max-width: 900px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    @media all and (max-width: 1025px) {
      max-width: 640px;
    }

    @media all and (max-width: 769px) {
      padding-left: 30px;
      max-width: 100%;
    }

    @media all and (max-width: 767px) {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
      margin-bottom: 50px;
      padding-left: 0;
      margin-left: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 57px;
      transform: rotate(0deg);
      top: 43px;
      z-index: 1;
      left: -119px;
      opacity: 1;
      transition: opacity 360ms;
      background: url("../img/how_to_become_arrow.svg") no-repeat center/contain;
    }

    &:hover {
      &::before {
        opacity: 0;
        transition: opacity 360ms;
      }
    }

    li {
      font-family: Plumb;
      font-size: 24px;
      line-height: 1.5;
      letter-spacing: -0.6px;
      text-align: left;
      color: #ffffff;
      max-width: 345px;
      text-decoration-line: underline;
      text-decoration-color: transparent;
      text-decoration-style: solid;
      transition: text-decoration-color 360ms;

      @media all and (max-width: 767px) {
        font-size: 18px;
      }

      &:hover {
        font-weight: 700;
        text-decoration-color: #fa6e00;
        transition: text-decoration-color 360ms;
      }
    }
  }
}

.our_team {
  @media all and (max-width: 1025px) {
    overflow-x: hidden;
  }

  p.title {
    margin-top: 82px;
    margin-bottom: 82px;
    text-align: center;
  }

  .team_wrap {
    flex-wrap: wrap;
    align-items: stretch;

    @media all and (max-width: 769px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media all and (max-width: 767px) {
      justify-content: center;
    }

    .one {
      width: 268px;
      flex: none;
      margin-bottom: 47px;

      &:nth-child(1) {
        &:before {
          content: "";
          position: absolute;
          width: 101px;
          height: 57px;
          transform: rotate(46deg);
          top: 2px;
          z-index: 1;
          left: -106px;
          background: url("../img/how_to_become_arrow.svg") no-repeat center /
            contain;

          @media all and (max-width: 1025px) {
            display: none;
          }
        }
      }

      &:nth-child(8) {
        &:before {
          content: "";
          position: absolute;
          width: 101px;
          height: 57px;
          transform: rotate(179deg);
          top: 300px;
          z-index: 1;
          right: -78px;
          background: url("../img/how_to_become_arrow.svg") no-repeat center /
            contain;

          @media all and (max-width: 1025px) {
            display: none;
          }
        }
      }

      &:nth-child(17) {
        &:before {
          content: "";
          position: absolute;
          width: 101px;
          height: 57px;
          transform: rotate(70deg);
          top: -100px;
          z-index: 1;
          left: -46px;
          background: url("../img/how_to_become_arrow.svg") no-repeat center /
            contain;

          @media all and (max-width: 1025px) {
            display: none;
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: -90px;
        left: -100px;
        display: block;
        width: 480px;
        height: 390px;
        background: url("../img/teachers/teacher_hover.svg") no-repeat center /
          contain;
        pointer-events: none;
        opacity: 0;
        transition: opacity ease-in-out 360ms;
      }

      .img_wrap {
        overflow: hidden;
        height: 398px;
        margin-bottom: 23px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          min-height: 100%;
          min-width: 100%;
          object-fit: cover;
          object-position: center;

          &.hover_img {
            opacity: 0;
            transition: opacity ease-in-out 360ms;
          }
        }
      }

      .name {
        font-family: Plumb;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        color: #413e6f;
        display: block;
        margin-bottom: 10px;
      }

      .desc {
        font-family: Plumb;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        color: #413e6f;
      }

      .sub_desc {
        display: block;
        margin-top: 10px;
        font-family: Plumb;
        font-size: 12px;
        line-height: 1.4;
        color: #413e6f;
        opacity: 0;
        transition: opacity ease-in-out 360ms;
      }

      &:hover {
        &:after,
        .sub_desc,
        img.hover_img {
          opacity: 1;
          transition: opacity ease-in-out 360ms;
        }
      }
    }

    .get_license {
      flex: 1 1 auto;
      align-self: center;

      @media all and (max-width: 769px) {
        padding-bottom: 50px;
      }

      .pressure {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.study_plan {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #413e6f;
  background-image: url("../img/plan_bg/plan_bg_2.png"),
    url("../img/plan_bg/plan_bg_1.png"), url("../img/plan_bg/plan_bg_3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right center, right center, left bottom;

  @media all and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .study_plan_table_wrap {
    background-color: #fff;
    padding: 30px 25px 37px;

    @media all and (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
      padding: 30px 15px;
    }

    .title {
      text-align: center;
      margin-bottom: 10px;
    }

    .subtitle {
      font-family: Plumb;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.1;
      text-align: center;
      color: #413e6f;
      margin-bottom: 22px;

      @media all and (max-width: 767px) {
        font-size: 12.8px;
      }
    }
  }

  table {
    width: 100%;
    table-layout: fixed;

    th {
      font-family: Plumb;
      font-size: 34.2px;
      font-weight: bold;
      font-stretch: condensed;
      line-height: 1.17;
      color: #413e6f;

      &:first-child {
        width: 200px;
      }

      @media all and (max-width: 767px) {
        font-size: 12px;
        width: auto;

        &:first-child {
          width: 100px;
        }
      }
    }

    th,
    td {
      text-align: center;
      padding-top: 6px;
      padding-bottom: 3px;
      border: solid 1px #413e6f4c;
      cursor: default;

      @media all and (max-width: 767px) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    tbody {
      tr {
        &:not(.summary) {
          td {
            font-family: Plumb;
            font-size: 17.1px;
            font-weight: bold;
            line-height: 1.97;
            text-align: center;
            color: #d25e3c;

            @media all and (max-width: 767px) {
              font-size: 10px;
            }
          }
        }
      }
    }

    .summary {
      td {
        font-family: Plumb;
        font-size: 12.8px;
        font-weight: bold;
        color: #413e6f;
      }
    }
  }

  .anotation {
    margin-left: 29%;
    width: 42%;
    margin-top: 30px;
    font-family: Plumb;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: center;
    color: #413e6f;

    @media all and (max-width: 769px) {
      width: 100%;
      margin-left: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.video_wrap {
  background-color: #fa6e00;
  padding-top: 100px;
  padding-bottom: 100px;

  @media all and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &:before {
    position: absolute;
    display: block;
    content: "";
    width: 101px;
    height: 57px;
    top: 450px;
    z-index: 1;
    left: 75px;
    opacity: 1;
    transition: opacity 360ms;
    background: url("../img/video_arrow.svg") no-repeat center / contain;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  &:hover {
    &::before {
      opacity: 0;
      transition: opacity 360ms;
    }
  }

  .inner {
    align-items: stretch;
    height: 500px;

    @media all and (max-width: 767px) {
      height: auto;
      flex-wrap: wrap;
    }

    .one {
      flex: none;
      width: 50%;
      padding-top: 154px;
      cursor: pointer;
      background-color: #ffffff;

      @media all and (max-width: 767px) {
        width: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
      }

      p {
        cursor: pointer;
      }

      &:last-child {
        background-color: #f2f2f2;
      }

      .title {
        text-align: center;
        margin-bottom: 42px;
      }

      .desc {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 298px;
        font-family: Plumb;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        color: #413e6f;
      }
    }
  }

  iframe {
    width: 100%;
    height: 660px;

    @media all and (max-width: 1025px) {
      height: 560px;
    }

    @media all and (max-width: 769px) {
      height: 415px;
    }

    @media all and (max-width: 415px) {
      height: 217px;
    }

    @media all and (max-width: 376px) {
      height: 193px;
    }
  }
}

.school_format {
  height: 850px;
  padding-top: 85px;
  padding-bottom: 145px;
  background: url("../img/study_format_bg.jpg") no-repeat center / cover;

  @media all and (max-width: 1025px) {
    padding-top: 75px;
    padding-bottom: 75px;
    height: auto;
    background: #fff;
  }

  @media all and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .title {
    margin-bottom: 40px;
  }

  .inner {
    align-items: stretch;

    @media all and (max-width: 769px) {
      flex-wrap: wrap;
    }
  }

  .left {
    padding-right: 80px;

    @media all and (max-width: 1025px) {
      padding-right: 30px;
    }

    @media all and (max-width: 769px) {
      padding-right: 0;
    }
  }

  .left,
  .right {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media all and (max-width: 769px) {
      flex: 1 1 100%;
    }
  }

  .right {
    padding-left: 100px;
    flex: 0 0 51%;

    @media all and (max-width: 1025px) {
      padding-left: 30px;
    }

    @media all and (max-width: 769px) {
      padding-left: 0;
      padding-top: 50px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: block;
      background: url("../img/dashed_line_vertical.png") no-repeat center /
        contain;
      width: 3px;
      height: 400px;

      @media all and (max-width: 769px) {
        display: none;
      }
    }
  }

  .subtitle {
    font-family: Plumb;
    font-size: 46px;
    font-weight: bold;
    font-stretch: condensed;
    line-height: 0.7;
    text-align: left;
    color: #413e6f;
    margin-bottom: 40px;

    @media all and (max-width: 1025px) {
      line-height: normal;
    }

    @media all and (max-width: 767px) {
      font-size: 24px;
      line-height: normal;
    }
  }

  .price {
    display: flex;
    padding-top: 40px;
    flex: none;
    height: 140px;
    font-family: Plumb;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: #fa6e00;

    @media all and (max-width: 767px) {
      font-size: 20px;
      height: auto;
    }
  }

  ul {
    padding-left: 20px;

    li {
      font-family: Plumb;
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #413e6f;

      @media all and (max-width: 767px) {
        font-size: 18px;
      }

      &:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #413e6f;
      }
    }
  }
}

.wats_in_price {
  background-color: #413e6f;
  padding-top: 65px;
  padding-bottom: 90px;

  @media all and (max-width: 769px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &:after {
    z-index: 3;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 450px;
    background: url("../img/wats_in_price_cloud.png") no-repeat left bottom /
      contain;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .img_1 {
    position: absolute;
    width: 457px;
    top: 56px;
    z-index: 1;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .img_splash {
    position: absolute;
    z-index: 2;
    width: 92px;
    height: 90px;
    top: 20px;
    left: -44px;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .img_2 {
    position: absolute;
    width: 457px;
    top: 361px;
    left: 133px;
    z-index: 1;

    @media all and (max-width: 1025px) {
      left: 40px;
    }

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .left {
    flex: 1 1 auto;
    align-self: baseline;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .right {
    flex: none;
    width: 463px;

    @media all and (max-width: 769px) {
      width: 100%;
    }
  }

  .title {
    color: #ffffff;
    margin-bottom: 30px;
  }

  ul {
    padding-left: 20px;

    li {
      font-family: Plumb;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      text-align: left;
      color: #ffffff;

      @media all and (max-width: 767px) {
        font-size: 18px;
      }

      &.with_arrow {
        &:after {
          content: "";
          width: 101px;
          height: 57px;
          position: absolute;
          right: -75px;
          top: 6px;
          background: url("../img/wats_in_price_img_arrow.svg") no-repeat center /
            contain;

          @media all and (max-width: 1025px) {
            display: none;
          }
        }
      }

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      & + li {
        margin-top: 34px;
      }
    }
  }
}

.how_to_become_student {
  height: 716px;
  padding-top: 105px;
  background: url("../img/how_to_become.jpg") no-repeat center / cover;

  @media all and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    top: -2px;
    z-index: 2;
    width: 266px;
    height: 155px;
    background: url("../img/how_to_study_cloud.png") no-repeat center / contain;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 280px;
    height: 280px;
    background: url("../img/how_to_become_splash.png") no-repeat right bottom;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .title {
    text-align: center;
    margin-bottom: 90px;

    @media all and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  ul {
    list-style: none;

    li {
      text-align: center;

      &:first-child {
        button {
          text-decoration: underline;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 101px;
          height: 57px;
          left: 310px;
          opacity: 1;
          transition: opacity 360ms;
          background: url("../img/how_to_become_arrow.svg") no-repeat center;

          @media all and (max-width: 769px) {
            display: none;
          }
        }

        &:hover {
          font-weight: 700;

          button {
            text-decoration: none;
          }
        }
      }

      & + li {
        margin-top: 40px;

        @media all and (max-width: 767px) {
          margin-top: 20px;
        }
      }
    }

    &:hover {
      li {
        &:first-child {
          &:before {
            opacity: 0;
            transition: opacity 360ms;
          }
        }
      }
    }
  }
}

.what_u_need {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #413e6f;

  @media all and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &:before {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    height: 280px;
    background: url("../img/what_u_need_splash.png") no-repeat top right;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .inner {
    align-items: stretch;

    @media all and (max-width: 1025px) {
      flex-wrap: wrap;
    }
  }

  .left {
    flex: 1 1 auto;
    padding-right: 30px;

    @media all and (max-width: 769px) {
      padding-right: 0;
      flex: 1 1 100%;
    }
  }

  .right {
    display: flex;
    align-items: center;
    width: 564px;
    flex: none;

    @media all and (max-width: 769px) {
      flex: 1 1 100%;
      width: auto;
      margin-top: 30px;

      img {
        width: 100%;
      }
    }
  }

  .title {
    font-size: 36px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 40px;
    max-width: 450px;
    margin-top: 15px;

    @media all and (max-width: 767px) {
      font-size: 32px;
    }

    @media all and (max-width: 769px) {
      max-width: 100%;
    }
  }

  ul {
    list-style-position: outside;
    padding-left: 20px;

    li {
      font-family: Plumb;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      text-align: left;
      color: #ffffff;

      @media all and (max-width: 767px) {
        font-size: 18px;
      }

      & + li {
        margin-top: 30px;

        @media all and (max-width: 767px) {
          font-size: 15px;
        }
      }
    }
  }
}

.news {
  padding-top: 100px;
  padding-bottom: 70px;

  @media all and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 530px;
    height: 200px;
    background: url("../img/news_cloude.png") no-repeat right bottom / contain;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .title {
    margin-bottom: 30px;
  }

  .inner {
    align-items: baseline;
    flex-wrap: wrap;
  }

  .one {
    flex: 1 1 50%;
    max-width: 569px;
    padding-bottom: 30px;

    @media all and (max-width: 1025px) {
      max-width: 48%;
    }

    @media all and (max-width: 767px) {
      flex: 1 1 100%;
      max-width: 100%;
    }

    &:first-child {
      &::after {
        content: "";
        position: absolute;
        width: 101px;
        height: 57px;
        left: -100px;
        top: 150px;
        background: url("../img/news_arrow.svg") no-repeat center / contain;
      }
    }

    &:hover {
      .content {
        max-height: 500px;
        transition: max-height 360ms;
      }
    }
  }

  iframe {
    height: 400px;
    width: 100%;
  }

  .img_wrap {
    overflow: hidden;
    height: 400px;
    background-color: #c4c4c4;

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .inner_img {
    margin-left: auto;
    margin-right: auto;
  }

  .news_title {
    font-family: Plumb;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #413e6f;
    margin-top: 22px;
    margin-bottom: 10px;
  }

  a.news_title {
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  .content {
    font-family: Plumb;
    font-size: 12px;
    line-height: 1.2;
    text-align: left;
    color: #413e6f;
    max-height: 29px;
    overflow: hidden;
    transition: max-height 360ms;

    b {
      font-weight: bold;
    }
  }
}

.photo_space {
  background-color: #413e6f;
  padding-top: 76px;
  padding-bottom: 150px;

  @media all and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 556px;
    height: 225px;
    z-index: 2;
    background: url("../img/space_cloud.png") no-repeat top right / contain;

    @media all and (max-width: 769px) {
      display: none;
    }
  }

  .title {
    margin-bottom: 46px;
    color: #fff;
  }

  .swiper-slide {
    height: 610px;
    overflow: hidden;

    @media all and (max-width: 767px) {
      height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.contacts {
  background-color: #fa6e00;
  padding-top: 66px;
  padding-bottom: 160px;

  @media all and (max-width: 767px) {
    padding-top: 50px;
  }

  .title {
    color: #ffffff;
    margin-bottom: 28px;
  }

  .map_wrap {
    height: 445px;
    background-color: #c4c4c4;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .links_wrap {
    position: absolute;
    bottom: 28px;
    right: 135px;

    @media all and (max-width: 767px) {
      right: auto;
      left: 15px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;

      @media all and (max-width: 767px) {
        display: none;
      }
    }

    &:before {
      width: 410px;
      height: 160px;
      top: -40px;
      left: -72px;
      opacity: 0;
      transition: opacity 360ms;
      background: url("../img/adress_round.svg") no-repeat center / contain;
    }

    &:after {
      width: 101px;
      height: 57px;
      bottom: 25px;
      right: -115px;
      opacity: 1;
      transition: opacity 360ms;
      background: url("../img/adress_arrow.svg") no-repeat center / contain;
    }

    &:hover {
      &:before {
        opacity: 1;
        transition: opacity 360ms;
      }

      &:after {
        opacity: 0;
        transition: opacity 360ms;
      }
    }

    a {
      display: block;
      color: #fff;
      font-family: Plumb;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.78;
      text-align: left;

      & + a {
        margin-top: 5px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.partners {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;

  .title {
    margin-bottom: 35px;
  }

  .parners_wrap {
    flex-wrap: wrap;
    align-items: center;

    @media all and (max-width: 1025px) {
      justify-content: space-between;
    }

    img {
      margin-bottom: 50px;
      margin-right: 48px;

      @media all and (max-width: 1025px) {
        margin-right: 15px;
      }

      @media all and (max-width: 767px) {
        max-width: 45%;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow-x: auto;
  z-index: 100;
  opacity: 1;
  transition: opacity 360ms;

  &.hidden {
    pointer-events: none;
    opacity: 0;
    transition: opacity 360ms;
  }

  .close {
    position: fixed;
    top: 60px;
    right: 60px;
    width: 25px;
    height: 28px;
    background: url("../img/close_icon_color.svg") no-repeat center / contain;

    @media all and (max-width: 769px) {
      top: 30px;
      right: 30px;
    }
  }
}

.modal_overlay {
  background-color: #fa6e00;
  padding-top: 100px;

  .close {
    background: url("../img/close_icon.svg") no-repeat center / contain;
  }

  .video_wraper {
    max-width: 90%;
    height: 500px;
    background-color: #ffffff;

    p {
      padding-top: 190px;
      padding-left: 100px;
      font-family: Plumb;
      font-size: 64px;
      font-weight: bold;
      font-stretch: condensed;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
      text-align: center;
      color: #413e6f;
    }
  }
}

.thanks_overlay {
  background: url("../img/modal_thanks_bg.jpg") no-repeat center / cover;
  padding-top: 100px;

  .thanks {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Plumb;
    font-size: 48px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    @media all and (max-width: 767px) {
      width: 100%;
      font-size: 32px;
    }
  }
}

.form_overlay {
  background: #fff url("../img/modal_cloud.svg") no-repeat top 150px right;
  padding-top: 50px;

  @media all and (max-width: 767px) {
    background: #fff;
  }

  .form_wrap {
    .title {
      font-family: Plumb;
      font-size: 48px;
      font-weight: bold;
      font-stretch: condensed;
      line-height: 1.13;
      text-align: center;
      color: #413e6f;
      margin-bottom: 40px;

      @media all and (max-width: 767px) {
        font-size: 32px;
      }
    }

    input {
      height: 64px;
      line-height: 64px;
      background: transparent;
      font-family: Plumb;
      font-size: 18px;
      line-height: 1.78;
      text-align: left;
      color: #413e6f;
      border-bottom: 1px solid #413e6f;
      width: 100%;

      @media all and (max-width: 767px) {
        height: 32px;
        line-height: 32px;
      }

      &.invalide {
        color: #fa6e00;
        border-bottom: 1px solid #fa6e00;
      }

      & + input {
        margin-top: 30px;
      }
    }

    .send_form {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      width: 456px;
      height: 64px;
      border-radius: 8px;
      background-color: #d25e3c;
      font-family: Plumb;
      font-size: 20px;
      font-weight: bold;
      font-stretch: condensed;
      letter-spacing: 1.6px;
      text-align: center;
      color: #ffffff;

      @media all and (max-width: 767px) {
        width: 100%;
      }
    }

    .error_note {
      margin-top: 36px;
      margin-bottom: 52px;
      text-align: center;
      font-family: Plumb;
      font-size: 14px;
      font-weight: 500;
      line-height: 2.29;
      text-align: center;
      color: #fa6e00;
      pointer-events: all;
      opacity: 0;
      transition: opacity 180ms;

      &.hidden {
        pointer-events: none;
        opacity: 0;
        transition: opacity 180ms;
      }
    }
  }
}

.license_overlay {
  background: #fff url("../img/modal_cloud.svg") no-repeat top 150px right;
  padding-top: 100px;
  padding-bottom: 100px;

  img {
    border: 1px solid #333;
    margin-bottom: 120px;
  }

  h2 {
    margin-bottom: 30px;
    padding-left: 20px;
  }

  @media all and (max-width: 767px) {
    background: #fff;
  }
}

article {
  .top {
    padding-top: 130px;
    padding-bottom: 40px;
    background-color: #fa6e00;

    .container {
      max-width: 1180px;
    }

    img {
      width: 100%;

      & + img {
        margin-top: 10px;
      }
    }

    h1 {
      color: #ffffff;
      font-size: 50px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.26px;
      line-height: 61px;
      text-align: left;
      margin-bottom: 21px;

      @media all and (max-width: 769px) {
        font-size: 36px;
        line-height: 46px;
      }
    }

    .date {
      display: block;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.12px;
      line-height: normal;
      text-align: left;
      margin-bottom: 20px;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 80px;
      display: block;
      width: 330px;
      height: 300px;
      z-index: 2;
      background: url("../img/values_cloud.png") no-repeat top right/contain;

      @media all and (max-width: 1450px) {
        display: none;
      }
    }
  }

  .content {
    padding-top: 30px;
    padding-bottom: 60px;

    p {
      color: #413e6f;
      font-size: 22px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    b {
      font-weight: 700;
    }
  }

  .container {
    max-width: 900px;
  }
}
